@tailwind base;
@tailwind components;
@tailwind utilities;

/* 標籤應用 */
@layer base {
    body {
        @apply bg-neutral-100;
    }
    h1 {
        @apply text-base/[1.2] lg:text-[2rem]/[1.2] font-bold;
    }
}

/* class name應用預設class */
@layer components {
    .change_nav {
        @apply flex gap-5 mb-5;
    }
    .change_nav button {
        @apply text-xl/[1.2] pb-4 text-lightGray-700 transition-all hover:text-darkBlue-400 hover:font-bold relative before:w-0 before:absolute before:h-[5px] before:bottom-0 before:transition-all before:bg-lightGray-700 before:block hover:before:w-full;
    }
    .change_nav button.active {
        @apply font-bold text-black before:bg-darkBlue-400 before:w-full;
    }
    .search {
        @apply flex gap-5 mb-10;
    }
    .search div {
        @apply relative;
    }
    .search select {
        @apply px-3 py-1 rounded-lg min-w-[156px] bg-[right_12px_center] bg-arrowDown bg-no-repeat text-xl/[1.4] border-lightGray-400 border hover:border-lightGray-700 transition-all appearance-none;
    }
    .search option {
        @apply hover:bg-lightGray-400;
    }
    .search_list {
        @apply absolute bg-white w-full rounded-lg border-darkBlue-400 border;
    }
    .search_list button {
        @apply w-full px-5 py-1 text-left;
    }
    .party_box {
        @apply flex;
    }
    .party_box span {
        @apply w-6 h-6 flex items-center justify-center rounded-full text-white text-xs mr-3 flex-none;
    }
    .party_box >div:nth-child(2) {
        @apply w-[104px] relative after:block after:w-[2px] after:h-8 after:absolute after:right-0 after:top-1/2 after:-translate-y-1/2;
    }
}

/* class name應用客製class */
@layer utilities {
    body {
        font-family: 'Noto Sans TC', sans-serif;
    }
    .search_list {
        top: calc(100% + 4px);
    }
    .map path {
        @apply fill-green-400;
        transition: all 0.3s ease;
        cursor: pointer;
    }
    .map .active path {
        @apply fill-green-600 stroke-green-400;
        stroke-width: 2px;
    }
    .map g:hover path {
        @apply fill-green-500;
    }
    #Taitung path, #Hualien path, #Hsinchu_County path, #Matsu path, #Kinmen path, #Miaoli path {
        @apply fill-blue-400;
    }
    #Taitung:hover path, #Hualien:hover path, #Hsinchu_County:hover path, #Matsu:hover path, #Kinmen:hover path, #Miaoli:hover path {
        @apply fill-blue-500;
    }
    .active #Taitung path, .active #Hualien path, .active #Hsinchu_County path, .active #Matsu path, .active #Kinmen path, .active #Miaoli path {
        @apply fill-blue-600 stroke-blue-400;
    }
}